@import url(https://fonts.googleapis.com/css?family=Marcellus+SC|Katibeh|Source+Serif+Pro|Cinzel+Decorative|Cinzel|Crimson+Text);

html,
body {
    background-color: #FEFEFA;
    margin: 0;
    padding: 0;
}

header {
    background-color: #291F1D;
    height: 80px;
}

#image-banner {
    /* IMG PORTION */
    background-image: url('../img/sodoiwall.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity: 67%;
    /* TEXT PORTION */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Marcellus SC';
    font-size: 65px;
    color: #FEFEFA;
}

/* TOPBAR MENU */
.topbar--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar--title h1 {
    font-family: 'Cinzel Decorative';
    font-size: 28px;
    color: #FEFEFA;
    padding-left: 25px;
    padding-top: 5px;
}

/* remove bullet pts */
nav li {
    padding-right: 40px;
    list-style-type: none;
    display: inline-block;
}

nav a {
    font-family: 'Cinzel';
    font-size: 18px;
    color: #FEFEFA;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    opacity: 90%;
    transition: 0.3s;
}

.about--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.about--description--header {
    font-family: 'Katibeh';
    text-align: center;
    font-size: 50px;
    color: #291F1D;
    display: flex;
}

.about--description--p {
    font-family: 'Source Serif Pro';
    color: #291F1D;
    font-size: 22px;
    padding-bottom: 90px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.about--images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 2em;
    padding-bottom: 40px;
    padding-top: 40px;
}

.img img {
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

#rvlatte-pic {
    padding-top: 40px;
}

#students-pic {
    padding-top: 40px;
}

.first-heart {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 30px;
}

/* ADJUST MENU LINK LOCATION */
.menu--link {
    padding-top: 90px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ADJUST MENU LINK TEXT */
.menu--link h2 {
    font-family: 'Katibeh';
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    text-underline-offset: 0.4em;
    color: #291F1D;
}

.menu--link:hover {
    text-decoration: none;
    text-underline-offset: 0.4em;
    transition: 0.3s;
    color: #291F1D;
}

.sodoi-deets {
    height: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #291F1D;
    font-family: 'Source Serif Pro';
    color: #FEFEFA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sodoi-deets--location {
    padding-bottom: 40px;
}

.sodoi-deets--times {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.sodoi-deets--week {
    padding-right: 20px;
}

.sodoi-deets--hours {
    padding-left: 20px;
}

.sodoi-deets--contact {
    padding-top: 40px;
}

.second-heart {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 120px;
    padding-top: 30px;
}